<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.shi.com.sagy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_sagy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sagy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mvc.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".wall_of_fame"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".help_achivement"
            android:configChanges="orientation"
            android:label="Achivement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Help_contact_us"
            android:configChanges="orientation"
            android:label="Contact Us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".complain"
            android:configChanges="orientation"
            android:label="@string/title_activity_complain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowDataOfProblemStatement"
            android:configChanges="orientation"
            android:label="Innovator&apos;s corner"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataAnalysis"
            android:label="@string/DataAnalyses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RecycleReview" />
        <activity
            android:name=".Splash_screen"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MpsDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MpsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VillageScr"
            android:configChanges="orientation"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schemeActivity"
            android:configChanges="orientation"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schemeDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rating"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mplogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComplaintListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedBackListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ScrollingActivity" />
        <activity
            android:name=".infoActivity"
            android:configChanges="orientation"
            android:parentActivityName=".VillageScr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AchivementActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Achivement_detailActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Aboutus"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".Help_Activity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".helpcomplaint"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FAQ"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AchievementUpload"
            android:configChanges="orientation"
            android:parentActivityName=".AchivementActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Registration" />
        <activity android:name=".nodaloff_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>